.about-work {
  padding: 50px 0 20px 0;
  width: 343px;
}

.about-work__title {
  font-family: "Exo 2", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  color: @basic-dark-grey;
  margin: 0;
}

.about-work__slogan {
  font-size: 15px;
  line-height: 23px;
  color: @basic-dark-grey;
}

.about-work__image {
  display: none;
}

.about-work__image-mobile {
  width: 345px;
  height: 340px;
}

.about-work__holder {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 40%;
    width: 80px;
    height: 80px;
    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    z-index: 1;
  }
}

@media (min-width: @tablet-width) {
  .about-work {
    width: auto;
  }

  .about-work__title {
    font-size: 44px;
    line-height: 55px;
    margin-bottom: 32px;
  }

  .about-work__slogan {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 48px;
  }

  .about-work__image {
    display: block;
    width: 690px;
    height: 433px;
  }

  .about-work__image-mobile {
    display: none;
  }

  .about-work__holder {
    &::before {
      content: "";
      position: absolute;
      top: 40%;
      left: 45%;
      width: 108px;
      height: 108px;
    }
  }
}

@media (min-width: @desktop-width) {
  .about-work__slogan {
    margin-right: 350px;
  }

  .about-work__image {
    width: 1240px;
    height: 621px;
  }

  .about-work__holder {
    &::before {
      content: "";
      position: absolute;
      top: 45%;
      left: 50%;
    }
  }
}
