.delivery-stages {
  padding: 64px 0 30px 0;
}

.delivery-stages__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  color: @basic-dark-grey;
  margin: 0 0 30px 0;
  align-items: flex-start;
}

.delivery-stages__list {
  list-style: none;
  padding: 0;
}

.delivery-stages__item {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 0 0 16px 0;
  background: @basic-white;
  box-shadow: 0 4px 15px @basic-black-opacity;
  border-radius: 10px;
  padding: 16px;
}

.delivery-stages__slogan span {
  display: none;
}

.delivery-stages__number-holder {
  background-color: @basic-green;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  margin: 50px 0 0 0;
  color: @basic-white;
}

.delivery-stages__number-holder span {
  position: relative;
  top: 10px;
  left: 17px;
  font-size: 30px;
}

.delivery-stages__lead {
  font-family: "Exo 2", "Arial", sans-serif;
  font-size: 18px;
  line-height: 23px;
  color: @basic-dark-grey;
  margin: 0;
}

.delivery-stages__slogan {
  font-size: 15px;
  line-height: 23px;
  color: @basic-grey;
  width: 241px;
}

// @media (min-width: @tablet-width) {
// }

// @media (min-width: @desktop-width) {
// }
