.page-main__wrapper {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-main__list {
  background-color: @basic-white;
  margin: 0;
  list-style: none;
  box-shadow: 0 4px 20px @basic-black-opacity;
  border-radius: 20px;
  position: relative;
  top: -125px;
  left: 0;
  padding: 24px 32px 10px 32px;
  display: flex;
  flex-direction: column;
}

.page-main__item {
  margin: 0 0 12px 0;
}

.page-main__item svg {
  width: 68px;
  height: 68px;
}

.page-main__title {
  font-family: "Exo 2", "Arial", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: @basic-dark-grey;
  margin: 13px 0 12px 0;
  text-align: left;
  width: 220px;
}

.page-main__slogan {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: @basic-grey;
  text-align: left;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .page-main__wrapper {
    padding: 0;
  }

  .page-main__list {
    box-shadow: none;
    border-radius: none;
    position: relative;
    top: 0;
    padding: 0;
  }

  .page-main__item {
    box-shadow: 0 4px 20px @basic-black-opacity;
    border-radius: 20px;
    display: flex;
    gap: 38px;
    justify-content: space-around;
    margin-bottom: 16px;
    padding: 24px 27px 19px 32px;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 631px;
    }
  }

  .page-main__inner {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-left: 30px;
    }
  }

  .page-main__title {
    font-size: 20px;
    line-height: 27px;
    width: auto;
  }

  .page-main__slogan {
    font-size: 16px;
    margin-right: 120px;
  }

  .page-main__slogan br {
    display: none;
  }

  .page-main__item svg {
    width: 122px;
    height: 122px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    width: 1240px;
    padding: 123px 100px 50px 100px;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding: 150px 100px 50px 100px;
    }
  }

  .page-main__list {
    position: relative;
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: row;
    gap: 0;
    box-shadow: 0 4px 20px @basic-black-opacity;
    padding: 0;
  }

  .page-main__inner {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .page-main__item {
    box-shadow: none;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 40px 100px 50px 80px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 172px;
      right: -132px;
      width: 261px;
      height: 1px;
      background-color: @basic-grey-blue;
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 280px;
    }
  }

  .page-main__item:last-child::after {
    display: none;
  }

  .page-main__title {
    width: 228px;
    margin: 0 0 10px 0;
  }

  .page-main__slogan {
    margin-right: 0;
  }

  .page-main__item svg {
    width: 92px;
    height: 92px;
  }
}
