// .profit {
// }

.profit__lead {
  font-size: 28px;
  font-weight: 600;
  line-height: 35px;
  color: @basic-dark-grey;
  margin: 0;
}

// @media (min-width: @tablet-width) {
//   .profit {
//     display: block;
//   }
// }

// @media (min-width: @desktop-width) {
// }
