// Colors

@basic-black: #000000;
@basic-white: #ffffff;
@basic-grey:#6B6B6C;
@basic-dark-grey: #363738;
@basic-light-grey:#9F9F9F;
@basic-steal-grey: #E9E9EC;
@basic-yellow: #FFCE50;
@basic-green: #0B7572;

@basic-black-opacity: rgba(0, 0, 0, 0.15);
@basic-grey-blue: #CBCBCD;

// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;


//Content width

@content-mobile: 375px;
@content-tablet: 768px;
@content-desktop: 1440px;
